.search-bar {
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 1rem;
  padding-left: 10px;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

form {
  display: flex;
}

.search-input {
  width: 90%;
  height: 35px;
  outline: none;
  border: none;
  box-shadow: 2px 3px 8px black;
  border-radius: 3px;
  margin: 10px 30px 10px 10px;

  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  padding: 0 10px;
  box-sizing: border-box;
}

.search-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.advanced-section {
  width: 50%;
}

.search-btn {
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  height: 30px;
  font-size: 0.9rem;
  font-family: Varela Round;
  border-radius: 3px;
  outline: none;
  background-color: #2193b0;
  color: #fff;
  border-color: #2193b0;
  transition: 0.3s;
}

.search-bar h2 {
  width: 140px;
  font-size: 1rem;
  margin-bottom: 30px;
}

.advanced-search-bar {
  transition: 0.5s;
}

.advanced-search-input-wrapper {
  display: flex;
  flex-direction: column;
}

.advanced-search-bar p {
  cursor: pointer;
  font-size: 1rem;
  width: 6%;
}

.advanced-search-bar p:hover {
  color: gray;
  transition: 0.5s;
}

h2:hover {
  cursor: pointer;
  color: gray;
  transition: 0.5s;
}
